* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.cell {
    width: 64px;
    height: 64px;
    border: 1px solid white;
    background-color: rgb(250, 212, 143);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
  width: 58px;
  height: 58px;
  position: relative;
  object-fit: cover;

}

.cell:hover {
    background-color: rgb(247, 204, 124);
}

.cell:active {
    border: 2px solid white;
    background-color: rgb(245, 193, 97);
}